.type-detail {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 35px;
    background-color: #f7f7f7;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .input-container {
    margin-bottom: 15px;
    margin-right: 5%;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  #filter{
    border-radius: 17px;
  }

  .btnaddEx{
    margin-left: 45%;
    margin-top: 1%;
  }

  .imgDetail{
    margin-top: 20%;
    margin-bottom: 10%;
    border-radius: 30%;
    margin-left: 15%;
  }
  input,
  textarea,
  select {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  .ss{
    margin: 15% 0 0 29%;
  }

  button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }